name: Test Workflow

on:
  push:
    branches:
      - "**"

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Message
        run: echo "This is a test workflow triggered on any push"
